Package: xdg-desktop-portal-wlr
Version: 0.0.1-2~disco
Architecture: amd64
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Installed-Size: 28
Depends: libc6 (>= 2.4), libsystemd0 (>= 221), grim
Section: admin
Priority: optional
Homepage: https://github.com/emersion/xdg-desktop-portal-wlr
Description: xdg-desktop-portal backend for wlroots
