Package: xdg-desktop-portal-wlr-dbgsym
Package-Type: ddeb
Source: xdg-desktop-portal-wlr
Version: 0.0.1-2~disco
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Installed-Size: 26
Depends: xdg-desktop-portal-wlr (= 0.0.1-2~disco)
Section: debug
Priority: optional
Description: debug symbols for xdg-desktop-portal-wlr
Build-Ids: e23c783ca74b60f1c9b391c4abe5f08624b52367
